body{
  background-color: rgb(112, 107, 107);
}

h1{
  color: rgb(68, 14, 194);
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
}

ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer{
  position: absolute;
  width: 100%; 
  bottom: 0;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

.contact {
  color: rgb(75, 5, 238);
  font-family: sans-serif;
  font-size: 100px;
  text-align: center;
}