body{
  background-color: rgb(211, 207, 207);
}

h1{
  color: red;
  font-size: 50px
}

ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer{
  position: absolute;
  width: 100%; 
  bottom: 0;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}